.ns-button {
  height: var(--ns-button-height);
  border-width: 1px;
  border-style: solid;
  border-color: var(--ns-fill);
  background-color: var(--ns-fill);
  color: var(--ns-text);
  &:hover {
    filter: brightness(0.8);
  }
  + .ns-button {
    margin-left: 0.5em;
  }
}
