.ns-button {
  height: var(--ns-button-height);
  border-width: 1px;
  border-style: solid;
  // background-color: var(--ns-fill);
  color: var(--foreground, var(--ns-text));
  transition: all 0.15s;
  &:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  }
  &:active {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
  }
  // &:not([class*="color-"]) {
  //   &:hover {
  //     border-color: var(--ns-primary);
  //     color: var(--ns-primary);
  //   }
  // }
  &.icon-position-end {
    padding-inline-end: 24px;
  }
  + .ns-button {
    margin-left: 0.5em;
  }
}
