// ns-form-item
.ns-form-item {
  padding: 0 12px !important;
  background: #fff !important;
}
.nut-form-item.error .nut-form-item__label {
  color: #fa2c19;
}
.variant-solid {
  .nut-input {
    background: none !important;
  }
}

// input
.ns-input {
  .nut-input {
    height: 100%;
    .nut-input-inner {
      height: 100%;
    }
  }
}
// ns-number-input
.ns-number-input {
  .nut-input {
    height: 100%;
    .nut-input-inner {
      height: 100%;
    }
  }
}

// ns-date-input
.ns-date-input {
  .ns-date-input {
    height: 100%;
    .nut-input {
      height: 100%;
      .nut-input-inner {
        height: 100%;
      }
    }
  }
}

// ns-radio-group
.ns-radio-group{
  .flex-column{
    align-items: end !important;
    .nut-radio{
      margin-right: 0px !important;
    }
  }
}

// ns-textarea
.ns-textarea{
  padding: 10px 12px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  height: auto;
  .nut-form-item__body{
    width: 100%;
  }
  .nut-textarea{
    min-height: 100px;
    width: 100%;
    .nut-textarea__textarea{
      margin-top: 6px;
      min-height: 100px;
      background: #f5f5f5;
      padding: 10px;
      border-radius: 4px;
    }
  }
}

// ns-list
.ns-list{
  width: 100%;
  .list-item-caption{
    word-break: break-all;
  }
}

