.nut-form-item.error .nut-form-item__label {
  color: #fa2c19;
}
.variant-solid {
  .nut-input {
    background: none !important;
  }
}

// input
.ns-input {
  .nut-input {
    height: 100%;
    .nut-input-inner {
      height: 100%;
    }
  }
}
// ns-number-input
.ns-number-input {
  .nut-input {
    height: 100%;
    .nut-input-inner {
      height: 100%;
    }
  }
}

// ns-date-input
.ns-date-input {
  .ns-date-input {
    height: 100%;
    .nut-input {
      height: 100%;
      .nut-input-inner {
        height: 100%;
      }
    }
  }
}

// ns-radio-group
.ns-radio-group{
  .flex-column{
    align-items: end !important;
    .nut-radio{
      margin-right: 0px !important;
    }
  }
}

// ns-list
.ns-list{
  width: 100%;
  .list-item-caption{
    word-break: break-all;
  }
}

