.ns-page {
  font-family: -apple-system, "Roboto", Helvetica, Segoe UI, Arial, Roboto, "PingFang SC", "miui", "Hiragino Sans GB", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --ns-secondary: #2BFF88;
  --ns-positive: #1bb165;
  --ns-size-lg: 46px;
  --ns-font-lg: 16px;
  --ns-font-md: 14px;
  --ns-font-sm: 12px;
  --ns-font-xs: 10px;
  --ns-spacing: 10px;
  --ns-paper: #fff;
  --ns-text: #333;
  --ns-text-light: #333;
  --ns-text-dark: #fff;
  font-size: 14px;
  color: #333;

  h2 {
    font-size: 16px;
  }

  p {
    line-height: 1.3em;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.fade-enter-active {
  transition: all .3s ease-out;
}

.fade-leave-active {
  transition: all .8s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  height: 0;
  overflow: hidden;
}


.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(100vw);
  opacity: 0;
}

.overlap {
  margin-top: -20px;
}

.ul-circle {
  padding-left: 20px;
}

.ul-circle .h5-li {
  display: list-item;
  list-style: circle;
  list-style-position: outside;
  color: var(--ns-neutral);
}

