@use '@uxda/nutshell/variables' with (
  $r-root: 4px,
  $base: (
    brand: (
      primary: #889606,
      negtive: #f00,
    ),
    abstract: (
      stroke: #dadfea,
      neutral: #a4ada8,
      background: #F2F3F5,
    )
  )
);
