@use '@uxda/nutshell/variables' with (
  $r-root: 4px,
  $base: (
    brand: (
      primary: #CDDC39,
      negtive: #f00,
    ),
    abstract: (
      stroke: #eeeeee,
      neutral: #e7eae3,
    )
  )
);
