@use '@uxda/nutshell/variables' with (
  $r-root: 2px,
  $base: (
    brand: (
      primary: #4BCB93,
      negtive: #EA5959,
    ),
    abstract: (
      stroke: #dadfea,
      neutral: #a4ada8,
      background: #F2F3F5,
    )
  )
);
