.ns-code-view {
  border-radius: var(--ns-r);
  margin: 0;
  &[class*="language-"] {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1em;
  }
  .token.attr-name,
  .token.inserted {
    font-style: normal;
  }
  code {
    border-radius: 0;
    display: block;
    padding: 1em;
    font-family: "Jetbrains Mono", "Fira code", "Fira Mono", Consolas, Menlo, Courier, monospace;
  }
}
