.ns-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: var(--ns-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  background: rgba(var(--ns-primary), 0.1);

  &-dot {
    position: relative;
    display: inline-block;
    font-size: 20px;
    width: 1em;
    height: 1em;
    transform: rotate(45deg);
    animation: nsrotate 1.2s infinite linear;
    &-item {
      position: absolute;
      display: block;
      width: 9px;
      height: 9px;
      background-color: var(--ns-primary);
      border-radius: 100%;
      transform: scale(0.75);
      transform-origin: 50% 50%;
      opacity: 0.3;
      animation: nsmove 1s infinite linear alternate;
      &:nth-child(1) {
        top: 0;
        inset-inline-start: 0;
      }
      &:nth-child(2) {
        top: 0;
        inset-inline-end: 0;
        animation-delay: 0.4s;
      }
      &:nth-child(3) {
        inset-inline-end: 0;
        bottom: 0;
        animation-delay: 0.8s;
      }
      &:nth-child(4) {
        bottom: 0;
        inset-inline-start: 0;
        animation-delay: 1.2s;
      }
    }
  }

  &-text {
    margin-top: 5px;
  }

  @keyframes nsrotate {
    100% {
      transform: rotate(405deg);
    }
  }
  @keyframes nsmove {
    100% {
      opacity: 1;
    }
  }
}
