
.ns-file {
  height: 100px;
  padding-inline: 0 !important;
  .icon-item {
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--ns-fill);
  }
  .thumb-item {
    .image {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
    }
  }
  &.column {
    .image {
      width: 100%;
    }
  }
  &.row {
    --gap: var(--ns-spacing);
    .image {
      height: 100%;
    }
  }
  &.size-xs {
    height: 32px;
    .image {
      height: 32px;
    }
  }
  &.size-sm {
    height: 64px;
    .image {
      height: 64px;
    }
  }
  &.size-md {
    height: 96px;
    .image {
      height: 96px;
    }
  }
  &.size-lg {
    height: 128px;
    .image {
      height: 128px;
    }
  }
  &.size-xl {
    height: 192px;
    .image {
      height: 192px;
    }
  }
  .toolbar {
    height: 20px;
    padding: 0 8px;
    width: 100%;
    background-color: #00000088;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: transform .33s;
    border-radius: var(--ns-r);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    cursor: default;
    .icon {
      height: 14px;
      width: 14px;
      background-size: 14px;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      border-radius: 8px;
      &:hover {
        filter: brightness(0.9);
      }
    }
    .icon-preview {
      background-image: url(https://cdn.ddjf.com/static/images/loan-manage/fangda@3x.png);
    }
    .icon-delete {
      background-image: url(https://cdn.ddjf.com/static/images/loan-manage/shanchu@3x.png);
    }
    .icon-download {
      background-image: url(https://cdn.ddjf.com/static/images/loan-manage/yunduanxiazai@3x.png);
    }
  }
  .icon-item, .thumb-item {
    overflow: hidden;
    position: relative;
    border-radius: var(--ns-r);
    cursor: pointer;
    .toolbar {
      transform: translate3d(0, 32px, 0);
    }
    &:hover {
      .toolbar {
        transform: translate3d(0, 0, 0);
      }
    }
  }
  .filename {
    cursor: pointer;
    line-height: 2em;
    font-size: 12px;
    max-width: 100%;
    overflow: hidden;
    width: fit-content;
    .base {
      flex-grow: 1;
      overflow: hidden;
      .ellipsis {
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .ext {
      flex-grow: 0;
    }
  }
  .icon-type-pdf {
    background-image: url(https://cdn.ddjf.com/static/images/loan-manage/form-pdf-icon@2x.png);
  }
}

.ns-files {
  --gap: var(--ns-spacing);
}
