.ns-image {
  aspect-ratio: 16/9;
  border-radius: var(--r, var(--ns-r));
  min-width: 32px;
  min-height: 32px;
  background-position: center center;
  &:not(.fit) {
    aspect-ratio: var(--aspect-ratio, 4/3);
  }
  &.squared {
    aspect-ratio: 1;
  }
}
