node_modules/
.DS_Store
.Thumbs.db
ui/dist/
docs/dist/
plot/dist/
docs/public/svg/
yarn.lock
ui/.eslintrc-auto-import.json
ui/auto-imports.d.ts
ui/yarn-error.log
runtime-core.d.ts
expo/desktop/.eslintrc-auto-import.json
**/nutui.css
**/nutshell.css
**/components.d.ts
.idea/
**/*.woff
**/*.woff2
icons/fonts/*
icons/svg/
**/.env*
ui/src/auto-imports-taro.d.ts
ui/src/auto-imports.d.ts
expo/play/.swc/*
expo/play/dist/*
