.ns-list {
  overflow: hidden;
  .list-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    &:last-child{
      border-bottom: none;
    }
    .list-item-section {
      flex-grow: 0;
    }
    .list-item-section-main {
      flex-grow: 1;
    }
    .caption {
      color: var(--ns-caption);
      line-height: 1.5em;
      min-height: 1.5em;
    }
  }
  &.variant-outlined {
    border-color: var(--stroke, var(--ns-stroke));
    border-style: solid;
    border-width: var(--thick, 1px);
    .list-item {
      border-bottom-color: var(--stroke, var(--ns-stroke));
      border-bottom-style: solid;
      border-bottom-width: 1px;
    }
  }
  &.hoverable {
    .list-item:hover {
      background-color: var(--ns-hover);
    }
  }
}
