.ns-list {
  --stroke: initial;
  overflow: hidden;
  width: max-content;
  // padding: var(--ns-spacing) 0;
  .list-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: var(--ns-spacing) 0;
    &:last-child{
      border-bottom: none;
    }
    &.has-link {
      cursor: pointer;
    }
    .list-item-section {
      flex-grow: 0;
    }
    .list-item-section-main {
      flex-grow: 1;
      padding-inline-end: var(--ns-spacing);
    }
    .caption {
      color: var(--ns-caption);
      line-height: 1em;
      min-height: 1em;
    }
    .title {
      line-height: 1.1em;
      margin: 0;
    }
    .list-item-section-no {
      width: 40px;
      font-size: 14px;
      text-align: center;
    }
    .list-item-section-arrow {
      width: 40px;
      min-height: 24px;
      background-image: url(http://simple.shensi.tech/icons/arrow-right.svg);
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: center;
    }
    .prepend, .append {
      padding: 0 var(--ns-spacing);
    }
  }
  &.variant-outlined {
    border-color: var(--stroke, var(--ns-stroke));
    border-style: solid;
    border-width: var(--thick, 1px);
    .list-item {
      border-bottom-color: var(--stroke, var(--ns-stroke));
      border-bottom-style: solid;
      border-bottom-width: 1px;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &.dense {
    .list-item {
      padding-block: 0;
    }
  }
  &.hoverable {
    .list-item:hover {
      background-color: var(--ns-hover);
    }
  }
}
