.ns-repeator {
  &.row {
    &.has-divides {
      .ns-repeator-item {
        width: calc(100% / var(--divides) - var(--gap, 0));
      }
    }
  }
  &.swipable {
    .ns-repeator-item {
      border-width: 0;
      overflow: hidden;
    }
  }
  .nut-swipe__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    .ns-button {
      height: 100%;
    }
  }
}
