.ns-repeator {
  &.row {
    &.has-divides {
      .ns-repeator-item {
        width: calc(100% / var(--divides) - var(--gap, 0));
      }
    }
  }
  &.swipable {
    .ns-repeator-item {
      border-width: 0;
      overflow: hidden;
      .swipe {
        width: 100%;
      }
    }
  }
}

.ns-repeator-item {
  display: flex;
  &.selectable {
    --gap: 0;
    &::before {
      margin-left: 10px;
    }
  }
}
