.DS_Store
/.hugo_build.lock
/.cache/
/_site/
/node_modules/
/resources/
/svg/
/sprite.svg
font.css
font.min.css
font.scss
icons.json
*.woff*

# Editor folders
/.vscode/

# Release zip files
icons-*.zip
/.env
