.ni {
  display: inline-block;
  line-height: 1;
  width: 16px;
  line-height: 16px;
  background-size: 100%;
  --ns-primary: #002299;
}

.ni-home {
  background-image: url('http://simple.shensi.tech/icons/home.svg');
}
.ni-my {
  background-image: url('http://simple.shensi.tech/icons/my.svg');
}

