.ns-timeline {
  width: 100%;
  .timeline-item {
    .dot {
      width: 24px;
      height: 24px;
      border-radius: 12px;
      border: 2px solid var(--ns-primary);
      background-color: #fff;
      line-height: 20px;
      text-align: center;
      cursor: default;
      color: var(--ns-primary);
    }
  }

  .timeline-title {
    font-weight: bold;
    font-size: 14px;
    color: var(--text, var(--ns-text));
  }
  .timeline-content {
    font-size: 12px;
    padding-bottom: .5em;
  }
  .time {
    color: var(--ns-neutral---30);
  }
  .caption {
    color:  var(--ns-neutral);
  }
  .status-off {
    .title {
        color:  var(--ns-neutral);
    }
    .dot {
      color: var(--ns-neutral);
      border-color: var(--ns-neutral);
    }
  }
}
