.ns-search {
  border-radius: var(--ns-r);
  border-color: var(--stroke, transparent);
  border-style: solid;
  border-width: 1px;
  background-color: var(--fill, var(--ns-fill));
  .content {
    padding: 2px 6px;
    gap: var(--ns-spacing-sm);
  }
  .icon {
    background-image: url(https://cdn.ddjf.com/static/images/wx-yunservice/search-icon.png);
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .input {
    background-color: transparent;
    border: none;
    height: 24px;
    line-height: 24px;
    padding: 0 .5em;
    flex-grow: 1;
    font-size: 12px;
    color: var(--ns-text);
    &:focus {
      border: none;
      outline: none;
    }
  }
  &.round {
    border-radius: 50%;
    .input {
      border-radius: 50%;
    }
  }
  &.variant-solid {
    background-color: var(--ns-fill);
    border-width: 1px;
    border-color: var(--ns-stroke);
    .input {
      border-width: 0;
    }
  }
}
