.ns-number {
  --stroke: transparent;
  --text: var(--foreground);
  --fill: transparent;
  font-size: 12px;
  height: fit-content;
  border-radius: var(--r, var(--ns-r));
  padding: var(--padding, var(--ns-spacing));
  justify-content: var(--align, center); /* 这里没有写错 */
  .content {
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
  }
  .header, .footer {
    display: flex;
    line-height: 1.5em;
    flex-grow: 1;
  }
  .header {
    color: var(--foreground, var(--ns-text));
    justify-content: var(--justify, var(--heading-horizontalAlign, center));
    align-items: var(--heading-verticalAlign, flex-end);
  }
  .footer {
    font-size: var(--footer-fontSize);
    color: var(--footer-color, var(--foreground, var(--ns-text)));
    font-weight: var(--footnote-fontWeight);
    justify-content: var(--footnote-horizontalAlign, var(--justify, center));
    align-items: var(--footnote-verticalAlign, flex-start);
  }
  .main {
    display: flex;
    width: 100%;
    flex-grow: 0;
    flex-direction: row;
    align-items: var(--mainAlign, var(--align, center));
    justify-content: var(--mainJustify, var(--justify, var(--flex-justify, center)));
    height: var(--mainHeight);
  }
  .negative {
    .digits {
      color: var(--negative--number--color)!important;
    }
  }
  .digits {
    display: flex;
    font-size: var(--fontSize, 40px);
    line-height: 1em;
    color: var(--foreground, var(--ns-text));
    .number-background {
      position: relative;
      display: inline-block;
      background: var(--digits-background);
      margin: 0 2px;
      padding: 6px 8px;
      border-radius: 4px;
      &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: calc(50% - 1px);
        width: 100%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.25);
      }
    }
  }
  &.number-size-xs {
    .digits {
      font-size: var(--fontSize, 14px)
    }
  }
  &.number-size-sm {
    .digits {
      font-size: var(--fontSize, 20px)
    }
  }
  &.number-size-md {
    .digits {
      font-size: var(--fontSize, 32px)
    }
  }
  &.number-size-lg {
    .digits {
      font-size: var(--fontSize, 40px)
    }
  }
  .prefix {
    padding-inline-end: .5em;
    color: var(--foreground, var(--ns-text));
  }
  .suffix {
    padding-inline-start: .5em;
    color: var(--foreground, var(--ns-text));
  }
  .arrow {
    padding-inline-start: .5em;
    order: var(--arrow-order, 0);
    .up {
      color: var(--arrow-up-color);
    }
    .down {
      color: var(--arrow-down-color);
      transform: rotate(180deg);
    }
  }
  .separator {
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center
  }
  .pa-number-tooltip {
    display: none;
    opacity: 0;
    transition: all .25s;
    position: absolute;
    left: 50%;
    top: 100%;
  }
  &:hover {
    .pa-number-tooltip {
      display: block;
      opacity: 1;
    }
  }
  .circle {
    border-color: var(--foreground);
  }
}
