@forward '../variables';
@use '../tools';

/**
 * 高饱和度(Klein blue theme)
 **/

$klein: () !default;
$klein: tools.map-deep-merge(
  (
    brand: (
      primary: #0014d4,
      primary-text: #fff,
      secondary: #0dc167,
      neutral: #999999,
      accent: #ff6800,
      positive: #008e36,
      negtive: #ff4ce1,
      warning: #985400,
    ),
    abstract: (
      background: #020c6b,
      paper: #003293,
      surface: #0037a6,
      fill: #002b82,
      text: #fff,
      stroke: #ffffff88,
    ),
    states: (
      hover: #ffffff33,
      active: #ffffff22,
      focus: #ffffff11,
    ),
    layout: (
      header: #333,
      nav: #003293,
      footer: #0055ff,
    ),
  ), $klein);
