@forward '../variables';
@use '../tools';

/**
 * Saas 系统现用主题
 **/

$present: () !default;
$present: tools.map-deep-merge(
  (
    brand: (
      primary: #017FFF,
      secondary: #004081,
      neutral: #CCCDC6,
      accent: #0C60E1,
      positive: #8BBB11,
      negtive: #FA541C,
      warning: #FA8C16,
    ),
    abstract: (
      background: #F6F9FD,
      paper: #fff,
      surface: #fff,
      fill: #f2f2f2,
      text: #353535,
      caption: #33333399,
      stroke: #bdbdbd99,
    ),
    states: (
      hover: #00000011,
      active: #00000022,
      focus: #00000033,
    ),
    layout: (
      nav-background: #d1d6dd,
      footer-background: #003293,
      footer-text: #fff,
    ),
  ), $present);
