@forward '../variables';
@use '../tools/functions' as *;

/**
 * 高饱和度(Klein blue theme)
 **/

$klein: () !default;
$klein: map-deep-merge(
  (
    brand: (
      primary: #0014d4,
      secondary: #0dc167,
      neutral: #999999,
      accent: #ff6800,
      positive: #008e36,
      negtive: #c10015,
      warning: #985400,
    ),
    abstract: (
      background: #020c6b,
      paper: #003293,
      surface: #003293,
      fill: #003293,
      text: #eee,
      stroke: '#ffffff88',
    ),
    states: (
      hover: #ffffff33,
      active: #ffffff22,
      focus: #ffffff11,
    ),
    layout: (
      header: #333,
      nav: #003293,
      footer: #0055ff,
    ),
  ), $klein);
