@forward '../variables';
@use '../tools/functions' as *;

/**
 * Saas 系统现用主题
 **/

$present: () !default;
$present: map-deep-merge(
  (
    brand: (
      primary: #017FFF,
      secondary: #b5109f,
      neutral: #999999,
      accent: #ff6a00,
      positive: #21ba45,
      negtive: #c10015,
      warning: #c16a00,
    ),
    abstract: (
      background: #f6f9fd,
      paper: rgb(206, 206, 206),
      surface: #ab4700,
      text: #333,
      stroke: #017FFF,
    ),
    layout: (
      nav-background: #d1d6dd,
      footer-background: #003293,
      footer-text: #fff,
    ),
  ), $present);