@forward '../variables';
@use '../tools/functions' as *;

/**
 * Saas 系统现用主题
 **/

$present: () !default;
$present: map-deep-merge(
  (
    brand: (
      primary: #017FFF,
      secondary: #b5109f,
      neutral: #999999,
      accent: #017FFF,
      positive: #21ba45,
      negtive: #FF0000,
      warning: #c16a00,
    ),
    abstract: (
      background: #fff,
      paper: #fff,
      surface: #d1d6dd,
      fill: #f7f8fa,
      text: #333,
      caption: #33333399,
      stroke: #99999999,
    ),
    states: (
      hover: #00000011,
      active: #00000022,
      focus: #00000033,
    ),
    layout: (
      nav-background: #d1d6dd,
      footer-background: #003293,
      footer-text: #fff,
    ),
  ), $present);
