@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';

.tippy-box {
  background-color: var(--ns-fill);
  color: var(--ns-text);
  text-align: left;
  &[data-theme~=light]{
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  }
  .tippy-content {
    padding: 4px 10px;
    max-width: 396px;
    border-radius: 4px;
  }
  &[data-placement^='top'] {
    .tippy-arrow {
      &::before {
        border-top-color: var(--ns-fill);
      }
    }
  }
  &[data-placement^='bottom'] {
    .tippy-arrow {
      &::before {
        border-bottom-color: var(--ns-fill);
      }
    }
  }
  &[data-placement^='left'] {
    .tippy-arrow {
      &::before {
        border-left-color: var(--ns-fill);
      }
    }
  }
  &[data-placement^='right'] {
    .tippy-arrow {
      &::before {
        border-right-color: var(--ns-fill);
      }
    }
  }

  .ns-popover-title {
    line-height: 40px;
    font-size: 15px;
    font-weight: 600;
  }
}

