.variant-plain {
  background-color: transparent;
  border-color: transparent;
  --foreground: var(--ns-primary);
}

.variant-outlined {
  --thick: 1px;
  border-color: var(--border-color, var(--ns-stroke));
  box-sizing: border-box;
}
