.ns-card {
  border-radius: var(--ns-border-radius);
  background-color: #ffffff;
  padding: var(--ns-spacing-lg);
  overflow: hidden;
  .card-header, .card-title {
    padding: 12px 0;
    .title {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
  }
  h3.title-label {
    font-size: 16px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 8px;
      background: #4d85ff;
      opacity: .4;
      bottom: -2px;
      left: 0;
    }
  }
  .title-after {
    padding-left: 1em;

  }
  &.variant-outlined {
    border-color: var(--ns-stroke);
    border-width: 1px;
    border-style: solid;
  }
  &.variant-soft {
    border-color: var(--ns-neutral);
    border-width: 1px;
    border-style: solid;
  }
  // 无内边距
  &.no-padding {
    .card-body {
      margin: 0 calc(var(--ns-spacing-lg) * -1);
    }
  }
}