.ns-card {
  border-radius: var(--ns-r);
  --fill: var(--ns-surface);
  gap: 0;
  min-width: 80px;
  min-height: 45px;
  .card-header, .card-title {
    padding: var(--ns-spacing);
    box-sizing: border-box;
    padding-bottom: calc(var(--ns-spacing) / 2);
    .title {
      display: flex;
      align-items: center;
    }
  }
  .card-header {
    // margin-bottom: calc(var(--ns-spacing) * -1/2)
  }
  .card-body {
    margin-inline: var(--edge, 0px);
    padding: var(--ns-spacing);
    background: var(--body-fill);
    border-radius: var(--ns-r);
    flex-grow: 1;
    .breakout {
      margin: calc(var(--ns-spacing) * -1);
    }
  }
  &.has-header {
    &:not(.has-body-fill) {
      .card-body {
        padding-top: calc(var(--ns-spacing) / 2);
      }
    }
  }
  .card-footer {
    display: flex;
    flex-direction: row;
    padding: var(--ns-spacing);
  }
  .title-label {
    font-size: var(--ns-font-sm);
    font-weight: bold;
    position: relative;
  }
  .title-after {
    padding-left: calc(var(--ns-spacing) / 2);
  }
  .title-corner {
    // padding-right: 1em;
  }
  &.variant-outlined {
    border-color: var(--ns-stroke);
    border-width: 1px;
    border-style: solid;
  }
  &.variant-soft {
    border-color: var(--ns-neutral);
    border-width: 1px;
    border-style: solid;
  }
  &.variant-plain {
    background-color: transparent;
    border-color: transparent;
    >.card-body {
      padding: 1em 0;
    }
    >.card-footer {
      padding-inline: 0;
    }
  }
  // 无内边距
  &.no-padding {
    .card-body {
      margin: 0 calc(var(--ns-spacing) * -1);
    }
  }
}

// .ns-app {
//   h3.title-label {
//     &::before {
//       content: "";
//       position: absolute;
//       width: 100%;
//       height: 8px;
//       background: #4d85ff;
//       opacity: .4;
//       bottom: 0;
//       left: 0;
//     }
//   }
// }
