.ns-dropdown {
  .ant-btn-default {
    background-color: var(--ns-surface);
    border-color: var(--ns-border-color);
    color: var(--ns-text);
  }
  &.ant-dropdown {
    .ant-dropdown-menu {
      background-color: var(--ns-surface);
      border-color: var(--ns-border-color);
      border-width: 1px;
      .ant-dropdown-menu-item {
        color: var(--ns-text);
        min-width: 140px;
      }
    }
  }
}