$app-header-height: 48px;
$sidebar-width: 210px;

.root {
  height: 100%;
  &.nut-theme-dark {
    background-color: #000;
  }
}

.app-header {
  height: $app-header-height;
}

.sidebar {
  width: 210px;
}

.main {
  margin-top: $app-header-height;
}