@use './reset.scss';
@use './scrollbar.scss';
@use './measure.scss';
// 使用 SCSS variables
// 下面的写法可覆盖 Nutshell 原始的 SCSS 变量
@use './overrides.scss';
@use '@uxda/nutshell/styles';
@use '@uxda/nutshell/styles-nutui';
@use '@uxda/nutshell/styles-antdv';
@use './components';
// 下面使用组件库固定的 CSS
// @use '@uxda/nutshell/dist/nutshell.css';
// @use '@uxda/nutshell/dist/nutui.css';
// @use '@uxda/nutshell/dist/antdv.css';

body {
  font-family: -apple-systmm, system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: #007fff;
  text-decoration: none;
}
