@import './reset.scss';
@import './scrollbar.scss';
@import './measure.scss';

:root {
  color-scheme: dark light;
}

body {
  font-family: -apple-systmm, system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: #007fff;
  text-decoration: none;
}
