@import './reset.scss';
@import './scrollbar.scss';
@import './flex.scss';

:root {
  color-scheme: dark light;
}

body {
  background-color: #151e3d;
  color: #fff;
}

a {
  color: #007fff;
  text-decoration: none;
}