.ns-page {
  :focus-visible {
    outline: none;
  }
  // 颜色
  .fill-primary.variant-soft {
    background-color: #F2F3FF;
  }
  .fill-secondary.variant-soft {
    background-color: rgba(#004081, 0.2);
  }
  .fill-neutral.variant-soft {
    background-color: #E7E7E7;
    color: var(--ns-text-light);
  }
  .fill-accent.variant-soft {
    background-color: rgba(#0C60E1, 0.2);
  }
  .fill-positive.variant-soft {
    background-color: rgba(#8BBB11, 0.2);
  }
  .fill-negtive.variant-soft {
    background-color: rgba(#FA541C, 0.2);
  }
  .fill-warning.variant-soft {
    background-color: rgba(#FA8C16, 0.2);
  }
  .fill-neutral {
    color: var(--ns-text-light) !important;
  }

  // button
  .ns-button {
    &:not(.ns-button-group-item) {
      --ns-r: 4px;
    }
    & + .ns-button:not(.ns-button-group-item) {
      margin-left: 12px;
    }
    &.variant-plain:not(.ns-button-group-item) {
      padding: 0;
    }
    &.fill-neutral.variant-outlined {
      color: #000;
      &:hover {
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  // button-group
  .ns-button-group {
    .ns-button+.ns-button {
      margin-left: 0;
    }
  }

  // card
  .ns-card {
    --r: 8px;
    .title-label {
      font-size: 16px;
    }
  }

  // form
  .ns-form {
    .ns-form-item {
      height: auto;
    }
  }
  .ns-form-item {
    --ns-r-input: 4px;
    --ns-fill: #f7f8fa;
    --ns-input-height: 32px;
    .ant-form-item-label > label {
      height: auto;
      padding: 0 12px 0 8px;
      white-space: pre-wrap;
      line-height: 16px;
      color: #35353599;
      &.ant-form-item-required::before {
        right: 0;
      }
      &::after {
        display: none;
      }
    }.ant-form-item-control-input, .ant-input-affix-wrapper {
      border: none;
      box-shadow: none;
      outline: none;
      color: #35353599;
    }
    .ant-input-affix-wrapper-focused {
      box-shadow: none !important;
    }
    .ant-input, .ant-picker, .ant-select-selector, .ant-input-number {
      border: none;
      box-shadow: none !important;
      outline: none;
    }
    .ant-picker-status-error:hover {
      background: transparent;
    }
    .ant-picker-suffix {
      display: none;
    }
    .ant-select-disabled .ant-select-selector {
      background-color: transparent;
    }
    .ant-input-number-handler-wrap {
      background-color: transparent;
    }
    &.ns-multiple-select {
      .ant-form-item-row {
        flex-wrap: nowrap;
      }
    }
  }
  .ns-search {
    width: 300px;
    --ns-r: 4px;
    --ns-fill: #f7f8fa;
    border-radius: 4px !important;
  }

  // number
  .ns-number {
    --r: 4px;
  }

  // checkbox
  .ant-checkbox-wrapper {
    color: rgba(53, 53, 53, 0.6);
    .ant-checkbox {
      position: relative;
      top: 1px;
    }
  }
  .ant-checkbox-wrapper-checked {
    color: rgba(53, 53, 53, 1);
  }

  // textarea
  .ant-input-textarea-show-count {
    &::after {
      color: #2626264d !important;
    }
    .ant-input {
      padding-bottom: 15px;
      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
      }
      &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 2px;
      }
      &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        border-radius: 7px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #999;
      }
    }
  }

  // rating
  .ns-rating, .ns-rating-input {
    .ant-rate-star-zero .anticon {
      color: rgba(0, 0, 0, 0.06) !important;
    }
    .ant-rate-star-full .anticon {
      color: #fa8c16 !important;
    }
  }

  // switch
  .ns-switch-input .ant-form-item-control-input {
    background: transparent;
  }

  // upload
  .ns-upload {
    --r: 4px;
    --ns-r: 4px;
    --ns-fill: #f7f8fa;
    .icon-item, .thumb-item {
      border: 1px solid #efefef;
    }
    .ant-upload-select-picture-card {
      border: 1px solid #efefef !important;
      background: #f7f8fa !important;
    }
  }
  // file
  .ns-file {
    --ns-r: 4px;
    --ns-fill: #f7f8fa;
    .icon-item, .thumb-item {
      border: 1px solid #efefef;
    }
  }

  // divider
  .ns-divider {
    --fill: rgba(53, 53, 53, 0.6);
  }

  // tabs
  .ns-tabs {
    --ns-stroke: #FAF9FE;
    margin-bottom: 16px;
    .ant-tabs-tab {
      margin: 0;
      padding: 8px 18px;
      font-weight: 400;
    }
    .ant-tabs-ink-bar {
      display: none;
    }
    .ant-tabs-tab-btn {
      color: rgba(32, 37, 58, 0.6);
      font-size: 16px;
    }
    .ant-tabs-tab-active::before{
      position: absolute;
      content: '';
      bottom: 0;
      left: 50%;
      margin-left: -15px;
      width: 30px;
      height:2px;
      background: var(--ns-primary);
      border-radius: 1px;
    }
    .ant-tabs-nav::before{
      border: none;
    }
  }
}

// popover
.ns-popover {
  .ns-list {
    width: 100%;
    .caption, .title {
      color: #fff;
    }
  }
}
.ns-popover-confirm-content {
  .buttons {
    margin-top: 10px;
  }
}

// dropdown
.ns-dropdown {
  &:not(.square):not(.round) {
    --r: 4px;
  }
  & + .ns-dropdown {
    margin-left: 12px;
  }
  &-menu {
    box-shadow: 0 4px 12px #0000001a;
    background: #fff;
    overflow: hidden;
    .ant-dropdown-menu {
      --r: 4px;
      padding: 6px 8px;
    }
    .ant-dropdown-menu-item {
      height: 40px;
    }
    .ant-dropdown-menu-submenu-title {
      height: 40px;
      line-height: 30px !important;
      &::before, &::after {
        top: 20px;
      }
    }
  }
}
.ns-menu-submenu {
  .ant-dropdown-menu {
    --r: 4px;
    padding: 6px 8px;
  }
  .ant-dropdown-menu-item {
    height: 40px;
  }
  .ant-dropdown-menu-submenu-title {
    height: 40px;
    line-height: 30px !important;
    &::before, &::after {
      top: 20px;
    }
  }
}

// menu
.ns-menu {
  --r: 4px;
}

// list
.ns-list {
  .list-item .title {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .list-item .caption {
    line-height: 20px;
  }
}

// chips
.ns-chip {
  --r: 2px;
  margin-inline-end: 8px;
  &.nut-tag {
    cursor: pointer;
    padding: 0 8px;
    height: 26px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .ns-icon-close.icon {
    width: 10px;
    height: 10px;
  }
}

// picker
.ant-picker-dropdown {
  .ant-picker-header {
    border-color: transparent;
    padding: 8px 23px 8px 27px;
  }
  .ant-picker-time-panel {
    margin-bottom: 25px;
    .ant-picker-header {
      padding: 0 8px;
    }
  }
  .ant-picker-body {
    padding: 0 23px 30px 27px !important;
  }
  .ant-picker-date-panel {
    width: 302px;
    .ant-picker-cell-inner {
      border-radius: 50% !important;
      &::before {
        border-radius: 50% !important;
      }
    }
  }
  .ant-picker-cell-disabled {
    color: rgba(39, 46, 53, 0.4);
    &::before {
      background: rgba(244, 244, 244, 0.6);
    }
  }
  td {
    vertical-align: middle;
  }
  .ant-picker-footer {
    border: none !important;
  }
  .ant-picker-panel {
    border: none;
  }
  .ant-picker-ranges {
    margin-top: -12px;
    padding: 0 20px 15px;
    line-height: 20px;
    .ant-tag {
      border: none;
      background: none;
      margin-right: 2px;
    }
  }
}
.ant-picker-presets ul {
  padding-right: 4px !important;
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
}
.ant-picker-time-panel-column {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
}

// button
.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:active {
  background: var(--ns-primary) !important;
  opacity: .4;
  color: #fff;
  border: none;
}

// select
.ant-select-dropdown {
  .ant-cascader-menu-item-active, .ant-select-item-option-selected {
    background: rgba(242, 243, 255, 1) !important;
    font-weight: normal !important;
    color: #017fff !important;
  }
}

// cascader
.ant-cascader-menu {
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 7px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
}

// tippy时
.tippy-box[data-theme=dark] {
  .ns-checkbox-group .ant-checkbox-wrapper {
    color: #fff;
  }
  .ns-form-item {
    width: 100%;
  }
}
