.ns-page {
  // button
  .ns-button {
    &:not(.ns-button-group-item) {
      --ns-r: 4px;
    }
    & + .ns-button:not(.ns-button-group-item) {
      margin-left: 12px;
    }
    &.variant-plain:not(.ns-button-group-item) {
      padding: 0;
    }
    &.fill-neutral.variant-outlined {
      color: #000;
      &:hover {
        color: rgba(0, 0, 0, 0.7);
      }
    }
    &:not(.size-xs):not(.size-sm) {
      // font-size: 14px;
    }
  }

  // button-group
  .ns-button-group {
    .ns-button+.ns-button {
      margin-left: 0;
    }
  }

  // card
  .ns-card {
    --r: 10px;
    .title-label {
      font-size: 16px;
    }
  }
}

// popover
.ns-popover {
  .ns-list {
    width: 100%;
    .caption, .title {
      color: #fff;
    }
  }
}
.ns-popover-confirm-content {
  .buttons {
    margin-top: 10px;
  }
}

// dropdown
.ns-dropdown {
  &:not(.square):not(.round) {
    --r: 4px;
  }
  & + .ns-dropdown {
    margin-left: 12px;
  }
  &-menu {
    box-shadow: 0 4px 12px #0000001a;
    background: #fff;
    overflow: hidden;
    .ant-dropdown-menu {
      --r: 4px;
      padding: 6px 8px;
    }
    .ant-dropdown-menu-item {
      height: 40px;
    }
  }
}

// menu
.ns-menu {
  --r: 4px;
}

// list
.ns-list {
  .list-item .title {
    font-size: 14px;
    margin-bottom: 4px;
  }
  .list-item .caption {
    line-height: 20px;
  }
}

// chips
.ns-chip {
  --r: 2px;
  margin-inline-end: 8px;
  &.nut-tag {
    padding: 0 8px;
    height: 26px;
  }
}
