.ns-button-group {
  max-width: 100%;
  width: fit-content;
  overflow: hidden;
  .buttons {
    width: fit-content;
  }
  .ns-button {
    margin: 0;
    background-color: var(--fill);
    transition: backdrop-filter .5s;
    &.active {
      font-weight: bold;
      backdrop-filter: brightness(1.2);
    }
  }
}
