.ns-button-group {
  width: fit-content;
  overflow: hidden;
  .buttons {
    width: fit-content;
  }
  .ns-button {
    margin: 0;
    background-color: transparent;
    border-color: transparent;
    &.active {
      backdrop-filter: brightness(1.2);
    }
  }
}
