@import 'tippy.js/dist/tippy.css';

.tippy-box {
  border-radius: var(--ns-r-xs);
  font-size: 12px;
  background-color: #000;
  color: #fff;
  // background-color: var(--ns-primary);
  // color: var(--ns-text);
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #000;
}

.tippy-box[data-placement^='bottom']
  > .tippy-arrow::before {
  border-bottom-color: #000;
}

.tippy-box[data-placement^='left']
  > .tippy-arrow::before {
  border-left-color: #000;
}

.tippy-box[data-placement^='right']
  > .tippy-arrow::before {
  border-right-color: #000;
}
