@use '../tools/functions' as *;
@use "sass:color";

@mixin build-theme ($theme) {

  @each $name, $value in map-get($theme, 'brand') {
    #{'--ns-'}#{$name}: #{$value};
  }

  @each $name, $value in map-get($theme, 'abstract') {
    #{'--ns-'}#{$name}: #{$value};
  }
  
  @each $name, $value in map-get($theme, 'layout') {
    #{'--ns-'}#{$name}: #{$value};
  }

  @each $name, $value in map-get($theme, 'brand') {
    .color-#{$name} {
      background-color: var(--ns-#{$name});
      border-color: var(--ns-#{$name});
      color: #fff;
      &.variant-outlined {
        background-color: transparent;
        border-color: $value;
        color: $value
      }
      &.variant-soft {
        background-color: color.adjust($value, $alpha: -0.25);
        border-color: color.adjust($value, $lightness: +50%);
        color: color.adjust($value, $lightness: +75%, $alpha: -0.4)
      }
      &.variant-plain {
        background-color: transparent;
        border-color: transparent;
        color: $value;
        &:hover {
          background-color: #00000033;
        }
      }
    }
  }
}
