.ns-avatar {
  --h: 40px;
  --color: var(--ns-neutral);
  width: var(--h);
  height: var(--h);
  padding: var(--edge);
  box-sizing: border-box;
  box-sizing: border-box;
  background-size: calc(var(--h) - var(--edge));
  background-position: center;
  &.size-xs,
  &.size-sm,
  &.size-md,
  &.size-lg,
  &.size-xl {
    padding: 0;
  }

  &.size-xs {
    --h: 20px;
  }

  &.size-sm {
    --h: 24px;
  }

  &.size-md {
    --h: 32px;
  }

  &.size-lg {
    --sizhe: 40px;
  }

  &.size-xl {
    --h: 64px;
  }
  &.circle {
   --r: 50%;
  }

  // For text avatar
  &.text-format {
    font-size: 12px;
    text-transform: uppercase;
  }
}
