.ns-preview {
  --ns-background: #000000;
  .ns-page-content {
    .media {
      margin: var(--ns-spacing);
      overflow: hidden;
      max-width: 100%;
      max-height: 100%;
      .image {
        transition: all .3s;
      }
      &.mode-normal {
        .image {
          border-radius: var(--ns-r);
          width: 100vw;
          height: auto;
          max-width: 100%;
          max-height: 75vh;
        }
      }
      &.mode-circle {
        .image {
          aspect-ratio: 1;
          width: 80vw;
          height: auto;
          border-radius: 50%;
        }
      }
    }
    .footer {
      padding: var(--ns-spacing);
    }
  }
}
