.ns-table {
  --table-cell-padding: 6px 0;
  --ns-table-border-color: rgba(151, 151, 151, 0.2);
  border-color: var(--ns-table-border-color, var(--ns-stroke));
  border-style: solid;
  border-width: 1px;
  border-radius: var(--ns-border-radius);
  overflow: hidden;
  &.no-table {
    border-width: 0;
  }
  margin-bottom: 1em;
}

.ns-table-column-selector-item {
  margin: 1px;
}
