.ns-table {
  --table-cell-padding: 6px 0;
  &.no-table {
    border-width: 0;
  }
  margin-bottom: 1em;
  .table-column-chips {
    text-align: left;
  }
  .table-column-link {
    width: 100%;
    display: block;
    height: 100%;
  }
  .vxe-table--render-default {
    .vxe-cell.c--tooltip {
      &:has(.table-column-chips) {
        overflow: visible;
      }
    }
  }
}

.ns-table-column-selector-item {
  margin: 4px;
  &.has-handler {
    .label {
      padding: 0 4px;
    }
  }
  .icon-drag-handler {
    cursor: move;
  }
}
