/* container */
.flex {
  display: flex;
}

.flex >.flex-item {
  flex-shrink: 0;
  flex-grow: 1;
}

.flex >.flex-item .flex-grow {
  flex-grow: 1;
}

/* direction */
.flex-column,
.column {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--gap);
}
.flex-row,
.row {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--gap);
  align-self: stretch;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}

/* wrap */
.nowrap {
  flex-wrap: nowrap;
}
.wrap {
  flex-wrap: wrap;
}
.wrap-reverse {
  flex-wrap: wrap;
}

.shrink {
  flex-grow: 0;
}

.grow {
  flex-grow: 1;
}

/* main axis */
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-stretch {
  justify-content: stretch;
  >div, >.div, >view, >button {
    margin: 0; // 消除多个连续 <ns-buton> 之间的空隙
    &:not(.shrink) {
      flex-grow: 1;
    }
  }
}

/* cross axis */
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}
.align-stretch {
  align-items: stretch;
}

/* grow/shrink */
.flex-grow {
  flex-grow: 1;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-fixed {
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
}
.spacer {
  flex-grow: 1;
}

.gap-xs {
  gap: var(--ns-spacing-xs)
}
.gap-sm {
  gap: var(--ns-spacing-sm)
}
.gap-md {
  gap: var(--ns-spacing-md)
}
.gap-lg {
  gap: var(--ns-spacing-lg)
}
.gap-xl {
  gap: var(--ns-spacing-xl)
}
.gap-none {
  gap: 0
}
