@use '../variables/fonts' as *;

:root, page {
  @each $name, $value in $fonts {
    #{'--ns-font-'}#{$name}: #{$value}
  }
}

@each $name, $value in $fonts {
  #{'.font-'}#{$name} {
    font-size: var(--ns-font-#{$name});
  }
}

h1, h2, h3 {
  margin: 1em 0;
}

h4, h5, h6 {
  margin: 0;
}

.caption {
  // font-size: var(--ns-font-sm); 副标题改为默认 font-sm  可以支持属性修改
  color: var(--ns-caption, #999);
}

h1 {
  font-size: var(--ns-font-xl);
  + .caption {
    margin-top: calc(var(--ns-font-xl) * -1);
    margin-bottom: var(--ns-font-xl);
  }
}

h2 {
  font-size: var(--ns-font-lg);
  + .caption {
    margin-top: calc(var(--ns-font-lg) * -1);
    margin-bottom: var(--ns-font-xl);
  }
}


h3 {
  font-size: var(--ns-font-md);
  + .caption {
    margin-top: calc(var(--ns-font-md) * -1);
    margin-bottom: var(--ns-font-md)
  }
}

h4 {
  font-size: var(--ns-font-sm);
  + .caption {
    margin-top: calc(var(--ns-font-sm) * -1);
    margin-bottom: var(--ns-font-sm)
  }
}

.number {
  font-family: 'DIN alternate', 'Roboto Mono', sans-serif;
}

.icon {
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: cover;
}

.circle,
.rounded-block {
  display: block;
  font-family: sans-serif;
  text-align: center;
  width: 14px;
  min-width: 14px;
  height: 14px;
  line-height: 12px;
  font-size: 9px;
  border: 1px solid var(--ns-text);
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  margin-inline-start: .2em;
  &:hover {
    background-color: var(--ns-neutral-50);
  }
}

.circle {
  border-radius: 50%;
}

.rounded-block {
  border-radius: 4px;
}

.icon-hint {
  background: var(--ns-warning);
  border-color: var(--ns-warning);
  color: #fff;
  &:hover {
    background-color: var(--ns-warning-10);
  }
}

.b, .bold {
  font-weight: bold;
}

.h5-span {
  display: inline;
}

p.justify {
  text-align: justify;
  text-justify: distribute;
}
