@use '../tools/functions' as *;
@use '../variables/spacing' as *;

:root, page {
  --ns-spacing: var(--ns-spacing-md);
  @each $name, $value in $spacing {
    #{'--ns-spacing-'}#{$name}: #{$value}px;
  }
}

@each $name, $value in $spacing {
  #{'.m-'}#{$name} {
    margin: var(--ns-spacing-#{$name}) !important;
  }
  #{'.mx-'}#{$name} {
    margin-left: var(--ns-spacing-#{$name}) !important;
    margin-right: var(--ns-spacing-#{$name}) !important;
  }
  #{'.my-'}#{$name} {
    margin-top: var(--ns-spacing-#{$name}) !important;
    margin-bottom: var(--ns-spacing-#{$name}) !important;
  }
  #{'.ml-'}#{$name} {
    margin-left: var(--ns-spacing-#{$name}) !important;
  }
  #{'.mr-'}#{$name} {
    margin-right: var(--ns-spacing-#{$name}) !important;
  }
  #{'.mt-'}#{$name} {
    margin-top: var(--ns-spacing-#{$name}) !important;
  }
  #{'.mb-'}#{$name} {
    margin-bottom: var(--ns-spacing-#{$name}) !important;
  }
  #{'.p-'}#{$name} {
    padding: var(--ns-spacing-#{$name}) !important;
  }
  #{'.px-'}#{$name} {
    padding-left: var(--ns-spacing-#{$name}) !important;
    padding-right: var(--ns-spacing-#{$name}) !important;
  }
  #{'.py-'}#{$name} {
    padding-top: var(--ns-spacing-#{$name}) !important;
    padding-bottom: var(--ns-spacing-#{$name}) !important;
  }
  #{'.pl-'}#{$name} {
    padding-left: var(--ns-spacing-#{$name}) !important;
  }
  #{'.pr-'}#{$name} {
    padding-right: var(--ns-spacing-#{$name}) !important;
  }
  #{'.pt-'}#{$name} {
    padding-top: var(--ns-spacing-#{$name}) !important;
  }
  #{'.pb-'}#{$name} {
    padding-bottom: var(--ns-spacing-#{$name}) !important;
  }
}

.breakout {
  margin: calc(var(--ns-spacing) * -1);
  margin-bottom: 0;
  width: calc(100% + var(--ns-spacing) * 2) !important;
}

.breakout-x {
  margin: 0 calc(var(--ns-spacing) * -1);
  width: calc(100% + var(--ns-spacing) * 2) !important;
}