@use '../tools/mixins' as *;
@use '../variables/colors';
@use 'sass:color';

$alphas: (
  10: -0.1,
  20: -0.2,
  30: -0.3,
  40: -0.4,
  50: -0.5,
  60: -0.6,
  70: -0.7,
  80: -0.8,
  90: -0.9,
);

:root, page {
  @include build-theme(colors.$base);

  @each $name, $value in $alphas {
    #{'--ns-white---'}#{$name}: color.adjust(#ffffff, $alpha: $value);
    #{'--ns-black---'}#{$name}: color.adjust(#000000, $alpha: $value);
  }
  --fill: var(--ns-fill);
  --stroke: var(--ns-stroke);
}

@each $name, $value in map-get(colors.$base, 'brand') {
  #{'.text-'}#{$name} {
    color: var(--ns-#{$name})
  }
}
