@use '../variables/design';

@property --fill {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

@property --gradient {
  syntax: "<image>";
  inherits: false;
  initial-value: transparent;
}

@property --texture {
  syntax: "<image>";
  inherits: false;
  initial-value: transparent;
}

@property --brightness {
  syntax: "<number>";
  inherits: false;
  initial-value: 1;
}

@property --blur {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --stroke {
  syntax: "<color>";
  inherits: false;
  initial-value: transparent;
}

@property --thick {
  syntax: "<length>";
  inherits: false;
  initial-value: 1px;
}

:root, page {
  --ns-border-radius: 8px;
}

@each $name, $value in design.$borders {
  #{'.border-'}#{$name} {
    border: #{$value} solid var(--stroke, #999);
  }
}

:root, page {
  @each $name, $value in design.$rounded {
    #{'--ns-border-radius-'}#{$name}: #{$value};
  }
}

@each $name, $value in design.$rounded {
  #{'.r-'}#{$name} {
    border-radius: #{$value};
  }
}

.with-design {
  background-color: var(--fill);
  border-color: var(--stroke, transparent);
  border-style: solid;
  border-width: var(--thick, 1px);
  &:not(.square) {
    border-radius: var(--radius, var(--ns-border-radius));
  }
  &.gradient {
    background:
      var(--gradient, linear-gradient(0deg, #00000000 0%, #00000000 100%)),
      var(--fill, transparent);
    background-clip: content-box;
  }
}


.texture {
  background:
    var(--texture),
    var(--fill, transparent);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.pattern {
  background:
    var(--pattern),
    var(--fill, transparent);
  background-repeat: repeat;
  background-size: 100% auto;
  background-position: left top;
}

.texture-gradient {
  background:
    var(--texture),
    var(--gradient, linear-gradient(0deg, #00000000 0%, #00000000 100%)),
    var(--fill, transparent);
}

.pattern-gradient {
  background:
    var(--pattern),
    var(--gradient, linear-gradient(0deg, #00000000 0%, #00000000 100%)),
    var(--fill, transparent);
}

.stroke-gradient {
  position: relative;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  box-sizing: border-box;
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    border-image: linear-gradient(#f6b73c, #4d9f0c) 1;
    border-width: 1px;
  }
}

.blur {
  backdrop-filter: brightness(1.5) blur(20px);
}

.backdrop-filter {
  backdrop-filter: brightness(var(--brightness, 1)) blur(var(--blur, 0px));
}

.shadow {
  box-shadow:
    0 0.5px 0 1px #ffffff33 inset,
    0 1px 0 0 #ffffff66 inset,
    0 0 var(--depth, 5px) var(--depth, 5px) var(--shadow, #00000011);
}

.round {
  border-radius: 50vh;
}
