@use '../variables/design';

:root {
  --ns-border-radius: 8px;
}

@each $name, $value in design.$borders {
  #{'.ns-border-'}#{$name} {
    border: #{$value};
  }
}

@each $name, $value in design.$rounded {
  #{'.ns-rounded-'}#{$name} {
    border-radius: #{$value};
  } 
}
