@use '../variables/fonts' as *;

:root {
  @each $name, $value in $fonts {
    #{'--ns-font-'}#{$name}: #{$value}
  }
}

@each $name, $value in $fonts {
  #{'.font-'}#{$name} {
    font-size: var(--ns-font-#{$name});
  }
}

.number {
  font-family: 'DIN alternate', 'Barlow Condensed', 'Roboto Condensed', sans-serif-condensed-light;
}

.icon {
  width: 16px;
  height: 16px;
  background-position: center;
  background-size: cover;
}

.circle,
.rounded-block {
  display: block;
  font-family: sans-serif;
  text-align: center;
  width: 14px;
  height: 14px;
  line-height: 12px;
  font-size: 12px;
  border: 1px solid var(--ns-text);
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  margin-inline: .2em;
  &:hover {
    background-color: var(--ns-neutral-50);
  }
}

.circle {
  border-radius: 50%;
}

.rounded-block {
  border-radius: 4px;
}
