/**
 * useTitle() 给多个组件加入一致的 .title/.caption 结构
 */
.title {
  display: flex;
  --gap: 0;
  .h5 {
    font-weight: bold;
    line-height: 1em;
    font-size: 14px;
  }
  .caption {
    line-height: 1.2em;
    font-size: 12px;
    font-weight: normal;
  }
}

/**
 * useGrouping() 给多个组件加入一致的 .group-header 结构
 */
.group-header {
  font-weight: bold;
  font-size: 14px;
  padding: var(--ns-spacing) 0;
}

