.bg-primary {
  background-color: var(--ns-primary) !important;
}

.bg-secondary {
  background-color: var(--ns-secondary) !important;
}

.bg-accent {
  background-color: var(--ns-accent) !important;
}

.bg-positive {
  background-color: var(--ns-positive) !important;
}

.bg-negtive {
  background-color: var(--ns-negtive) !important;
}

.bg-warning {
  background-color: var(--ns-warning) !important;
}