@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

.fade-it {
  view-transition-name: fade-it;
}

::view-transition-old(fade-it) {
  animation: 1800ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}
::view-transition-new(fade-it) {
  animation: 4200ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in;
}

