@use '../tools';

// (1) Semantic Colors
$base: () !default;
$base: tools.map-deep-merge(
  (
    brand: (
      primary: #003293,
      secondary: #b5109f,
      neutral: #b1b1b1,
      accent: #0057ff,
      positive: #21ba45,
      negtive: #c10015,
      warning: #c16a00,
    ),
    abstract: (
      /**
       * 主背景色
       */
      background: #F6F9FD,
      /**
       * 材质色
       */
      paper: #ffffff,
      /**
       * 一般性容器背景色
       */
      surface: #ffffff,
      /**
       * 小物体填充色
       */
      fill: #f2f2f2,
      text: #333333,
      caption: #888888,
      highlight: #888888,
      subtitle: #cccccc,
      stroke: #dddddd,
    ),
    states: (
      hover: #ffffff66,
      active: #ffffff44,
      focus: #ffffff33,
    ),
    layout: (
      nav-background: #d1d6dd,
      nav-text: #fff,
      footer-background: #003293,
      footer-text: #fff,
      header-background: transparent,
      header-text: #333,
    ),
  ), $base);

// (2) Static Color Values
