@use '../tools/functions' as *;

// (1) Semantic Colors
$brand: () !default;
$brand: map-deep-merge(
  (
    primary: #003293,
    secondary: #0057ff,
    background: #fff,
    surface: #ccc,
    text: #333,
    stroke: '#999',
    accent: #0057ff,
    positive: #21ba45,
    negtive: #c10015,
  ),
  $brand
)

// (2) Static Color Values
