/**
 * Varibles about design system
 **/
@use '../tools';

$r-root: 4px !default;
// $border-color-root: map-get(colors.brand, 'stroke') !default;

$borders: () !default;
$borders: tools.map-deep-merge(
  (
    0: 0,
    none: thin,
    auto: thin,
    sm: 1px,
    md: 2px,
    lg: 4px,
    xl: 8px
  ),
  $borders
);

$rounded: () !default;
$rounded: tools.map-deep-merge(
  (
    0: 0,
    none: 0,
    auto: var(--ns-r),
    xs: $r-root,
    sm: $r-root * 2,
    md: $r-root * 4,
    lg: $r-root * 6,
    xl: $r-root * 8,
  ),
  $rounded
)
