/**
 * Varibles about design system
 **/
@use '../tools/functions' as *;
@use './colors';

$radius-root: 4px !default;
$border-color-root: map-get(colors.$brand, 'stroke') !default;

$borders: () !default;
$borders: map-deep-merge(
  (
    0: 0,
    none: thin,
    auto: thin,
    sm: 1px,
    md: 2px,
    lg: 4px,
    xl: 8px
  ),
  $borders
);

@each $name, $value in $borders {
  $borders: map-deep-merge(
    $borders,
    ($name: $value 'solid' $border-color-root)
  )
}

$rounded: () !default;
$rounded: map-deep-merge(
  (
    0: 0,
    none: 0,
    auto: var(--ns-border-radius),
    sm: $radius-root,
    md: $radius-root * 2,
    lg: $radius-root * 4,
    xl: $radius-root * 8,
  ),
  $rounded
)


