/**
 * Varibles about design system
 **/
@use '../tools/functions' as *;
@use './spacing';

$radius-root: 4px !default;
// $border-color-root: map-get(colors.brand, 'stroke') !default;

$borders: () !default;
$borders: map-deep-merge(
  (
    0: 0,
    none: thin,
    auto: thin,
    sm: 1px,
    md: 2px,
    lg: 4px,
    xl: 8px
  ),
  $borders
);

$rounded: () !default;
$rounded: map-deep-merge(
  (
    0: 0,
    none: 0,
    auto: var(--ns-border-radius),
    xs: $radius-root,
    sm: $radius-root * 2,
    md: $radius-root * 4,
    lg: $radius-root * 6,
    xl: $radius-root * 8,
  ),
  $rounded
)
