@use '../tools';

$root: 16px;

$fonts: () !default;
$fonts: tools.map-deep-merge(
  (
    root: $root,
    auto: 0.75rem,          // 12px
    xs: 0.75,               // 12px
    sm: .875em,             // 四标题 14px
    md: 1rem,               // 三标题 16px
    lg: 1.25rem,            // 二标题 20px
    xl: 1.5rem,             // 大标题 2px
  ),
  $fonts
)

