@use '../tools';

$fonts: () !default;
$fonts: tools.map-deep-merge(
  (
    root: 16px,
    auto: 0.75rem,          // 12px
    xs: 0.6666666667rem,   // 10px
    sm: .75rem,             // 12px
    md: .875rem,            // 14px
    lg: 1rem,            // 16px
    xl: 1.5rem,             // 24px
  ),
  $fonts
)

