@use '../tools/functions' as *;

$space-root: 4px !default;

/**
 * 间距控制
 * padding, margin
 **/

$spacing: () !default;
$spacing: map-deep-merge(
  (
    0: 0,
    xs: 2,
    sm: 4,
    md: 10,
    lg: 20,
    xl: 32
  ),
  $spacing
);
